<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-10 offset-1 registration-block">
  <div class="card border-success mb-3 registration-panel">
    <div class="card-header">Registration</div>
    <div class="card-body">
      <div class="form-group">
        <label for="userName">Username:</label>
        <input type="text" class="form-control" #userName placeholder="Username">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" #email placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" #password placeholder="Password">
      </div>
      <div class="form-group">
        <label for="rePassword">Repeat password:</label>
        <input type="password" class="form-control" #rePassword placeholder="Repeat password">
      </div>
      <button class="btn btn-success" (click)="registration(userName.value, email.value, password.value, rePassword.value)">Registration</button>
      <a class="btn btn-link" routerLink="/login">Back to login</a>
    </div>
  </div>
</div>